body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contenidor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.contenidor ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.contenidor ul li {
  border: 1px solid grey;
  padding: 5px 10px;
  color: blue;
  font-weight: bold;
  font-size: 30px;
}
.contenidor ul li:hover {
  cursor: pointer;
}
